a {
    color: #b4c5e4;
}

a:hover {
    color: #e3e4db;
}

body {
    background-color: #090c08;
    color: #b4c5e4;
    font-family: "Courier New", Courier, monospace;
}

button {
    background-color: #29274c;
    border: none;
    color: #b4c5e4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    text-align: center;
}

input[type=text] {
    width: 100%;
    margin-top: 1rem;
}

h1 {
    text-align: center;
    padding-top: 1rem;
}

h4 {
    margin: auto;
    padding-top: 3rem;
    text-align: center;
}

table {
    margin: auto;
    overflow-x: auto;
}

.btn {
    background-color: #090c08;
    border: 1px solid #b4c5e4;
    color: #b4c5e4;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #2f2963;
    color: #e3e4db;
}

.btn:active {
    background-color: #29274c;
    border: 1px solid #e3e4db;
}

.carousel {
    height: 500px;
}

.carousel-control-next {
    width: 50px;
}

.carousel-control-prev {
    width: 50px;
}

.container {
    border-top: 1px solid #b4c5e4;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.dropdown-item {
    color: #b4c5e4;
}

.movie-info {
    padding-top: 1rem;
}

.collapsed .fa-chevron-down {
    display: none;
}

.fas.fa-chevron-left {
    display: none;
}

.collapsed .fa-chevron-left {
    display: block;
}

.plot-row {
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.fa-chevron-down, .fa-chevron-left {
    float: right;
}

.row {
    text-align: center;
    border: 1rem #b4c5e4;
}

.setup-col {
    border-right: solid #b4c5e4 1px;
}

.vote-button {
    margin-left: 2rem;
}

#begin-button {
    display: none;
    margin: 2rem auto;
}

#current-voters {
    font-size: 2rem;
    text-align: center;
}

#current-movies {
    font-size: 2rem;
    text-align: center;
}

#detailed-results-table {
    margin-top: 2rem;
}

#extended-results-section {
    display: none;
}

#movie-list {
    display: none;
}

#movie-options {
    margin-top: 1rem;
}

#movie-table {
    border-spacing: 3rem 0;
    border-collapse: separate;
}

#no-movies {
    margin: auto;
    padding-top: 1rem;
}

#results-section {
    display: none;
}

#search-results {
    display: none;
    padding-top: 1rem;
}

#voter-selection {
    background-color: #090c08;
    border: 1px solid #b4c5e4;
}

#voter-table {
    border-spacing: 3rem 0;
    border-collapse: separate;
}

#voting-section {
    display: none;
}

#winner {
    font-size: 60px;
    margin-top: 2rem;
    text-align: center;
}